@* Player info section *@
<div class="playerinfo">
    @* Username *@
    <span class="playerinfo-username text-white">@ViewBag.username</span>
        
    @* Avatar *@
    <div class="playerinfo-avatar position-relative" id="playerInfoModalTrigger">
        <img class="rounded-circle" width="57" height="57" id="playerInfoAvatar" src='@(Context.Request.Query["gd"] == "male" ? "/assets/gentleman_character.png" : "/assets/ladygirl_character.png")' />
        <div class="playerinfo-level rounded-circle">
            <span>@ViewBag.level</span>
        </div>
    </div>

    @* Game progress *@
    <div class="playerinfo-progress text-white ml-3 d-flex flex-column">
        <div class="d-flex align-items-center mb-2">
            <span class="mr-2" style="width: 1.75rem">Task</span>
            <div class="progress">
                <div class="progress-bar bg-danger" role="progressbar" style="width: 25%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
            <span class="ml-2">(1/5)</span>
        </div>

        <div class="d-flex align-items-center">
            <span class="mr-2" style="width: 1.75rem">Exp</span>
            <div class="progress">
                <div class="progress-bar bg-success" role="progressbar" style="width: @ViewBag.exp%" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
            <span class="ml-2">(@ViewBag.exp%)</span>
        </div>
    </div>
</div>


@* Player info modal *@
<div class="modal fade" id="playerInfoModal" role="dialog">
    <div class="modal-dialog modal-lg modal-dialog-custom">
        <div class="modal-content">
            <div class="modal-header align-items-center justify-content-center" style="border-bottom: none;">
                <h5 class="modal-title">Player Information</h5>
                <button type="button" class="close position-absolute" style="right: 1rem; outline: none;" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body" style="padding-bottom: 1.75rem;">
                <div class="container">
                    <div class="row d-flex" style="justify-content: space-around;">
                        @* Tasks list *@
                        <div class="col-md-5 p-4 position-relative" style="border: 1px solid darkgray; border-radius: 6px;">
                            <span class="playerinfo-title px-2 mx-2">Tasks</span>

                            <div class="playerinfo-roomtask mb-4 d-flex flex-column position-relative">
                                <span class="px-2 mx-2">Green Room</span>
                                
                                <div class="playerinfo-taskdetail d-flex align-items-center justify-content-between px-3 pb-3 mt-3">
                                    <h4 class="mb-0">2/2</h4>
                                    <span class="playerinfo-taskchecker">
                                        <i class="fas fa-check"></i>
                                    </span>
                                </div>
                            </div>
                            
                            <div class="playerinfo-roomtask mb-4 d-flex flex-column position-relative">
                                <span class="px-2 mx-2">Red Room</span>
                                
                                <div class="playerinfo-taskdetail d-flex align-items-center justify-content-between px-3 pb-3 mt-3">
                                    <h4 class="mb-0">0/2</h4>
                                </div>
                            </div>

                            <div class="playerinfo-roomtask mb-4 d-flex flex-column position-relative">
                                <span class="px-2 mx-2">Blue Room</span>
                                
                                <div class="playerinfo-taskdetail d-flex align-items-center justify-content-between px-3 pb-3 mt-3">
                                    <h4 class="mb-0">1/2</h4>
                                </div>
                            </div>

                            <div class="playerinfo-roomtask d-flex flex-column position-relative">
                                <span class="px-2 mx-2">Purple Room</span>
                                
                                <div class="playerinfo-taskdetail d-flex align-items-center justify-content-between px-3 pb-3 mt-3">
                                    <h4 class="mb-0">2/2</h4>
                                    <span class="playerinfo-taskchecker">
                                        <i class="fas fa-check"></i>
                                    </span>
                                </div>
                            </div>
                        </div>

                        @* Friends list *@
                        <div class="col-md-6 p-4 position-relative d-flex flex-column justify-content-between" style="border: 1px solid darkgray; border-radius: 6px;">
                            <span class="playerinfo-title px-2 mx-2">Play together</span>
                            
                            <div class="playerinfo-searchbar d-flex align-items-center mb-3">
                                <i class="fas fa-search"></i>
                                <input type="text" placeholder="Search for player...">
                            </div>

                            <ul class="playerinfo-users pl-0">
                                <li class="d-flex align-items-center justify-content-between mb-3">
                                    <div class="d-flex align-items-center">
                                        <div class="playerinfo-avatar position-relative">
                                            <img class="rounded-circle" src="https://avatars.githubusercontent.com/u/66368990?v=4" />
                                            <div class="playerinfo-level rounded-circle">
                                                <span>88</span>
                                            </div>
                                        </div>

                                        <p class="mb-0 ml-2">Nguyen Van A</p>
                                    </div>

                                    <span style="font-size: 1.5rem; color: greenyellow;">
                                        <i class="fas fa-toggle-on"></i>
                                    </span>
                                </li>
                                
                                <li class="d-flex align-items-center justify-content-between mb-3">
                                    <div class="d-flex align-items-center">
                                        <div class="playerinfo-avatar position-relative">
                                            <img class="rounded-circle" src="https://avatars.githubusercontent.com/u/66368960?v=4" />
                                            <div class="playerinfo-level rounded-circle">
                                                <span>85</span>
                                            </div>
                                        </div>

                                        <p class="mb-0 ml-2">Nguyen Van B</p>
                                    </div>

                                    <span style="font-size: 1.5rem; color: greenyellow;">
                                        <i class="fas fa-toggle-on"></i>
                                    </span>
                                </li>

                                <li class="d-flex align-items-center justify-content-between">
                                    <div class="d-flex align-items-center">
                                        <div class="playerinfo-avatar position-relative">
                                            <img class="rounded-circle" src="https://avatars.githubusercontent.com/u/66368996?v=4" />
                                            <div class="playerinfo-level rounded-circle">
                                                <span>79</span>
                                            </div>
                                        </div>

                                        <p class="mb-0 ml-2">Nguyen Van C</p>
                                    </div>

                                    <span style="font-size: 1.5rem; color: gray;">
                                        <i class="fas fa-toggle-off"></i>
                                    </span>
                                </li>
                            </ul>

                            @* pagination *@
                            <ul class="pagination mb-0 justify-content-center">
                                <li class="page-item disabled">
                                    <a class="page-link" href="#" aria-label="Previous">
                                        <span aria-hidden="true">&laquo;</span>
                                        <span class="sr-only">Previous</span>
                                    </a>
                                </li>
                                
                                <li class="page-item active">
                                    <a class="page-link" href="#" style="color: white !important;">1</a>
                                </li>
                                
                                <li class="page-item">
                                    <a class="page-link" href="#">2</a>
                                </li>
                                
                                <li class="page-item">
                                    <a class="page-link" href="#">3</a>
                                </li>
                                
                                <li class="page-item">
                                    <a class="page-link" href="#" aria-label="Next">
                                        <span aria-hidden="true">&raquo;</span>
                                        <span class="sr-only">Next</span>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>